# --- File di Build (Generici) ---
build/
bin/
lib/

# --- File compilati ed eseguibili ---
*.exe
*.out
*.app
*.o
*.obj
*.a
*.so
*.dll
*.dylib

# --- CLion (JetBrains) ---
.idea/
cmake-build-debug/
cmake-build-release/
cmake-build-*/

# --- File di Sistema ---
.DS_Store
Thumbs.db